workspace/communication/scripts/com_vars.json
workspace/GUI/GUI/com_vars.json
/workspace/build
/workspace/install
/workspace/log
/venv
.venv
**.vscode/** 
compile_commands.json
**.cache/**
__pycache__
workspace/saves/vision