# ROS 
/workspace/build
/workspace/install
/workspace/log

#Virtual Environments
/venv
.venv

# IDEs
**.vscode/** 
compile_commands.json
**.cache/**
__pycache__
workspace/saves/vision
workspace/src/teleoperation/GUI/assets/placeholder.jpg
# Cerrtificates
*.pem