[Unit]
Description=Run robot section: %i
After=network.target

[Service]
Type=simple

# TODO:
# Make the path be modified depending on where the repo actually is
ExecStart=/opt/robot/Repos/aesir/launch_scripts/%i.sh
WorkingDirectory=/opt/robot/Repos/aesir/launch_scripts

KillSignal=SIGTERM
TimeoutStopSec=10
KillMode=control-group

Restart=on-failure
RestartSec=2

StandardOutput=journal
StandardError=journal
SyslogIdentifier=%i

[Install]
WantedBy=multi-user.target