[Unit]
Description=Robot system
Wants=robot@hardware.service robot@camera.service robot@ros_server.service robot@user_server.service robot@vision.service robot@moveit.service
After=network.target


[Install]
WantedBy=multi-user.target